@font-face {
  font-family: 'BMHANNAAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

*:not(i) {
  font-family: 'BMHANNAAir';
}

input[type='password'] {
  font-family: '굴림';
}

input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
